body{
	font-size: 16px;
	background: #e9eaed;
}

/**********************Fuentes**************************/
@import url(http://fonts.googleapis.com/css?family=Spicy+Rice);
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-1at1is');
	src:url('fonts/icomoon.eot?#iefix-1at1is') format('embedded-opentype'),
		url('fonts/icomoon.woff?-1at1is') format('woff'),
		url('fonts/icomoon.ttf?-1at1is') format('truetype'),
		url('fonts/icomoon.svg?-1at1is#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
	content: "\e600";
}

.icon-cog:before {
	content: "\e601";
}

.icon-movie:before {
	content: "\e602";
}

.icon-lock-stroke:before {
	content: "\e603";
}

.icon-home2:before {
	content: "\e901";
}

.icon-image:before {
	content: "\e90d";
}

.icon-images:before {
	content: "\e90e";
}

.icon-camera:before {
	content: "\e90f";
}

.icon-paste:before {
	content: "\e92d";
}

.icon-user:before {
	content: "\e971";
}

.icon-users2:before {
	content: "\e972";
}

.icon-search:before {
	content: "\e986";
}

.icon-stats-bars:before {
	content: "\e99c";
}

.icon-switch:before {
	content: "\e9b6";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-heart:before {
	content: "\e604";
}

.icon-barcode:before {
	content: "\e605";
}

.icon-mail:before {
	content: "\e606";
}
/**********************Cabecera*************************/
header{
	overflow: hidden;
	background: #2c4762;
	color: white;
	position: fixed;
	right: 0px;
	left: 0px;
	text-align: center;
	z-index: 1090;
}
.menu-cabecera{
	overflow: hidden;
}
.listaOpciones{
	margin: .6em;
	list-style: none;
}
.listaOp{
	margin-right: 7em;
	display: inline-block;
	font-size: 1.4em;
}
.search{
	width: 70%;
	border:0;
}
.buscador{
	display: inline-block;
	font-size: .8em;
	border-left: 1px solid #ccc;
	position: absolute;
	background: white;
	border:0;
	padding: .3em;
}
.opcionesMenuCabe{
	font-family: 'Spicy Rice', cursive;
	font-weight: bold;
}
/*************************Cuerpo***********************/
.menuLateral{
	height: 94%;
	width: 4%;
	background: #2c4762;
	position: fixed;
	top: 2.7em;
	text-align: center;
	overflow: auto;
	overflow-y:hidden;
}
.menuLateral-Lista{
	padding: 0;
	list-style: none;
}
.menuLateral-item{
	font-size: 1.2em;
	color: white;
	background: black;
	border-bottom: 1px solid white;
}
.menuLateral-item:hover{
	color: yellow;
}
.menuLateral-item:first-child{
	padding: .5em;
}
.link-item{
	text-decoration: none;
}
.link-item:focus{
	outline: none !important;
}
/***************************Inicio***********************/
.cuerpo{
	background: #e9eaed;
	width: 75%;
	height: 100%;
	left: 4%;
	position: relative;
	padding: 3em 0em 0em 0em;
	overflow: hidden;
}
.articuloCuerpo{
	position: relative;
	width: 70%;
	border:1px solid;
	margin-left: 9em;
	margin-bottom: 2em;
	overflow: hidden;
	background: #fff;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	border-radius: 3px;
}
.imgPerfil{
	width: 5em;
	height: 5em;
	border-radius: 50%;
	margin: .5em;
}
.publicacion{
	width: 90%;
	margin: 0em 2em 0em 2em;
	text-align: justify;
	overflow: hidden;
}
.nombreUsuarioP{
	display: inline-block;
	position: absolute;
	margin-top: 2em;
	color: #2c4762;
}
.seccionOpcionesP{
	width: 100%;
	height: 3em;
	background: #f6f7f8;
	border-top:#e5e6e9 1px solid;
}
.contenedorImgPerfil{
	width: 15%;
	margin: 0;
	display: inline-block;
}

/*---------------------Perfil----------------------------*/
.perfilC{
	background: red;
	width: 75%;
	height: 100%;
	left: 4%;
	position: relative;
	padding: 2.9em 0em 0em 0em;
	overflow: hidden;
}
.imgPer{
	position: absolute;
	z-index: 1089;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	margin: 10px 10px;
	border: 5px solid rgba(0,0,0,0.4);
}
.slider{
	width: 100%;
	height: 400px;
	background: green;
	background-size: 100% 100%;
	background-position: center;
}
.imagenD{
	width: 100%;
}
/*******************Datos derecha************************/
.datosLaterales{
	position: fixed;
	top: 2.7em;
	background: #2c4762;
	width: 21%;
	height: 94%;
	right: 0;
}